
@import "_colors";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body{
    background-color: $colorFondo;
}

main{
    display: flex;
    justify-content: center;
}

.iTask{
    background-color: rgb(36, 36, 36);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .welcome{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            h2{
                color: $colorLetras;
                font-weight: 800;
                font-size: 30px;
            }
            h3{
                font-weight: 500;
                font-size: 15px;
                color: rgba(255, 255, 255, 0.308);
            }
        }
        .date{
            h3{
                color: $colorLetras;
            }
            h4{
                font-weight: 500;
                font-size: 15px;
                color: rgba(255, 255, 255, 0.308);
            }
        }
    }
    .newTask{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        input{
            width: 70%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            background-color: $colorFondo;
            color: $colorLetras;
        }
        button{
            width: 20%;
            border-radius: 5px;
            border: none;
            background-color: $colorPrimario;
            color: $colorLetras;
            font-size: 11px;
            cursor: pointer;
        }
    }
    .listTask{
        margin-top: 10px;
        h3{
            color: $colorLetras;
            font-size: 15px;
            font-weight: 500;
        }
        .task{
            display: flex;
            background-color: $colorFondo;
            width: 100%;
            border-radius: 10px;
            justify-content: space-between;
            align-items: center;
            padding: 5px 15px;
            margin-top: 10px;
            height: max-content;
            .infoTask{
                h5{
                    font-weight: 500;
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.308);
                }
                p{
                    color: $colorLetras;
                    width: 80%;
                }
            }
            .deleteTask{
                i{
                    color: $colorPrimario;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
    
}